<h1 class="entry-title">How do I troubleshoot an Envoy Not Reporting system status?</h1>

<div class="entry-content">
    <p>The <strong>Envoy Not Reporting</strong> ( <img src="envoy_comm.png" alt="" title="envoy_comm" width="18" height="15" class="alignnone size-full wp-image-6030" /> ) system status can typically be addressed by the system owner and should not require a maintenance visit. Instructions for identifying and fixing the issue differ based on the type of Envoy that was installed with the system. Follow the instructions for the appropriate Envoy model.</p>
    <h4>Enphase Envoy</h4>
    <p>If the system has an Enphase Envoy, ask the system owner to check the display on the Envoy.<br />
    <img src="products_envoy.png" alt="Enphase Envoy" width="100%" class="alignnone size-full wp-image-9484" /></p>
    <p>If the display shows <strong>-Web</strong>, there is an Internet connectivity issue. Have the system owner try the following steps to restore the Internet connection between the Envoy and Enlighten:</p>
    <ul>
        <li>Has the modem or access point recently been replaced? Changes in the network hardware may require reconfiguration.</li>
        <li>Do the Envoy, modem, and access point have power? After a power outage, the network connections may need to be re-established. Check the power connections for the Envoy, modem, and the access point.</li>
        <li>Does the Envoy use an Ethernet cable to connect to the broadband router? If so, check that the Ethernet cable between the Envoy and the broadband router is connected. You may need to remove and reconnect the cable, making sure the connector locks into place (listen for a click).</li>
        <ul>
            <li>Are there power line communication (PLC) bridges in use? If so, verify that the Power LED is on and the PLC Activity LED is blinking.<br />
                <img src="Bridge.png" alt="" title="Bridge" class="alignnone size-full wp-image-1451" /></li>
        </ul>
        <li> Does the Envoy have a wireless adapter?
            <ul>
                <li>Wi-Fi capable Envoys have two USB ports. Envoys with only one USB port do not support Wi-Fi.</li>
                <p><a href="Envoy_wifi.png"><img src="Envoy_wifi.png" alt="Envoy_wifi" width="100%" /></a></p>
                <li>While looking at the Envoy from the front, check that the wireless adapter is fully seated in the left USB port. The wireless adapter will not function if seated in the right USB port.</li>
                <li>Is an obstruction causing wireless signal interference? Walls or metallic objects placed between the Envoy and broadband router may interfere with the wireless signal.</li>
                <li>Was the Wi-Fi password changed? If so, reconfigure the Envoy with the new Wi-Fi password.</li>
            </ul>
            <li> If <strong>-Web</strong> is still displayed, use the menu button (on the right side of the Envoy) to select “Get New IP address”, and allow about 60 seconds for the new IP address to display. For details about Envoy menu commands, see the <em>Envoy Installation and Operations Manual</em>.</li>
    </ul>
    </ul>
    <p>After the system owner has performed these troubleshooting activities, ask them to check the display on the Envoy again. If the Envoy displays <strong>+Web</strong>, the Internet connection is re-established and the system status in Enlighten should reset to Normal within 15 minutes. If <strong>-Web</strong> continues to display, contact Enphase Customer Support.</p>
    <h4>Enphase Envoy-S</h4>
    <p>If the system has an Enphase Envoy-S, ask the system owner to check the Network Communications LED (the one at the top next to the <img src="network_comms_icon.png" alt="network_comms_icon" width="32" height="21" class="alignnone size-full wp-image-9485" /> icon).<br />
    <img src="Envoy_S_Metered_Standard.png" alt="Envoy-S" width="100%" class="alignnone size-full wp-image-9486" /></p>
    <p>If the LED is off or amber, there is an Internet connectivity issue. Have the system owner try the following steps to restore the Internet connection between the Envoy and Enlighten:</p>
    <ul>
        <li>Has the modem or access point recently been replaced? Changes in the network hardware may require reconfiguration.</li>
        <li>Do the Envoy, modem, and access point have power? After a power outage, the network connections may need to be re-established. Check the power connections for the Envoy, modem, and the access point.</li>
        <li>Does the Envoy use an Ethernet cable to connect to the broadband router? If so, check that the Ethernet cable between the Envoy and the broadband router is connected. You may need to remove and reconnect the cable, making sure the connector locks into place (listen for a click).</li>
        <ul>
            <li>Are there power line communication (PLC) bridges in use? If so, verify that the Power LED is on and the PLC Activity LED is blinking.<br />
                <img src="Bridge.png" alt="" title="Bridge" class="alignnone size-full wp-image-1451" /></li>
        </ul>
        <li>Does the Envoy use a wireless connection?</li>
        <ul>
            <li>Is an obstruction causing wireless signal interference? Walls or metallic objects placed between the Envoy and broadband router may interfere with the wireless signal.</li>
            <li>Was the Wi-Fi password changed? If so, reconfigure the Envoy with the new Wi-Fi password.</li>
        </ul>
        <li>Does the Envoy use a cellular connection? If so, unplug the USB cable, confirm that the antenna is oriented vertically, and then reconnect the USB cable.</li>
    </ul>
    </ul>
    <p>After the system owner has performed these troubleshooting activities, ask them to check the Network Communications LED on the Envoy again. </p>
    <ul>
        <li>If it is solid amber, the Envoy has a connection to the local network but is unable to connect to Enlighten via the Internet. Ask the system owner to check if other devices on the network can reach the Internet. If other devices cannot connect to the Internet, the system owner will need to troubleshoot their network.</li>
        <li>If the LED is flashing green, the Envoy is attempting to connect to Enlighten. The LED should turn solid green within a few minutes.</li>
        <li>If the LED is solid green, the Internet connection is re-established and the system status in Enlighten should reset to Normal within 15 minutes.</li>
        <li>If the LED is still off or amber, contact Enphase Customer Support.</li>
        </div>
