<table cellpadding="0" cellspacing="0">
    <tr class="top">
        <th>Serial Number</th>
        <th>Last Report</th>
        <th>Power Output</th>
    </tr>
    #SYSTEM_PARAMS_TABLE_ITEM#
</table>
