<div class="envoy_settings_title">#SYSTEM_SETTINGS_TABLE_TITLE#</div>
<table cellpadding="0" cellspacing="0">
    <tr class="top">
        <th>Parameter Name</th>
        <th>Value</th>
    </tr>
    #SYSTEM_SETTINGS_TABLE_ITEM#
</table>
